<style>
    table,tr,td,th{
        border:1px black solid;
    }
</style>

<a href="crear">
    <button type="button" class="btn btn-default">Crear</button>
</a>


<table>
    <tr>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Grados</th>
        <th>Precio</th>
        <th>Fecha de Caducidad</th>
        <th>Acciones</th>
    </tr>
    <% arregloTragos.forEach((trago) =>{ %>
    <tr>
        <td>
            <%=trago.nombre%>
        </td>
        <td>
            <%=trago.tipo%>
        </td>
        <td>
            <%=trago.gradosAlcohol%>
        </td>
        <td>
            <%=trago.precio%>
        </td>
        <td>
            <%=trago.fechaCaducidad%>
        </td>
        <td>
            <form action="eliminar" method="post">
                <button type="button">
                    Editar
                </button>
                <button type="submit">
                    Eliminar
                </button>
                <input type="text" value="<%=trago.id%>" hidden nombre="indice">
            </form>

        </td>
    </tr>
    <% }); %>
</table>
